<!-- Mobile Menu -->
<div class="md:hidden bg-dark shadow-lg">
    <div class="px-2 pt-2 pb-3 space-y-1">
        <a href="{% url 'store:product_list' %}" class="mobile-nav-link">
            <i class="fas fa-home mr-2"></i> Home
        </a>
        <div class="mobile-nav-link" @click="mobileMenuOpen = !mobileMenuOpen">
            <i class="fas fa-th-large mr-2"></i> Categories
            <i class="fas fa-chevron-down ml-2"></i>
        </div>
        <div x-show="mobileMenuOpen" class="pl-4">
            {% for category in categories %}
            <a href="{% url 'store:product_list_by_category' category.slug %}" class="mobile-nav-subitem">
                {{ category.name }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>