{# users/templates/users/password_reset_email.html #}
{% load i18n %}
{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your DjangoMart account.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using DjangoMart!" %}

{% blocktrans %}The DjangoMart team{% endblocktrans %}
{% endautoescape %}