Subject: Password Reset Request
Hello,
You're receiving this email because you requested a password reset for your ASAI account.
Please click the link below to choose a new password:
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
This link will expire in 24 hours.
If you didn't request this password reset, please ignore this email - your account remains secure.
Your email: {{ user.get_username }}
Thank you for being part of ASAI!
---

ASAI Premium Shopping Experience
Premium gaming and computer accessories
https://asai-store.com | support@asai-store.com