{% extends "store/base.html" %}
{% block content %}
<div class="container py-5">
    <div class="card shadow">
        <div class="card-header bg-success text-white">
            <h3 class="mb-0">Payment Successful</h3>
        </div>

        <div class="card-body">
            <div class="alert alert-success">
                <h4 class="alert-heading">Thank you!</h4>
                <p>Your payment of {{ order.order_payment.amount|floatformat:2 }} {{ order.order_payment.currency }} was received</p>
                <hr>
                <dl class="row">
                    <dt class="col-sm-4">Order ID</dt>
                    <dd class="col-sm-8">{{ order.id }}</dd>
                    <dt class="col-sm-4">Amount Paid</dt>
                    <dd class="col-sm-8">{{ order.order_payment.amount }} {{ order.order_payment.currency }}</dd>
                    <dt class="col-sm-4">Payment Method</dt>
                    <dd class="col-sm-8">{{ order.order_payment.get_method_display }}</dd>
                    <dt class="col-sm-4">Transaction ID</dt>
                    <dd class="col-sm-8">{{ payment.transaction_id }}</dd>
                </dl>
            </div>

            <a href="{% url 'order-detail' order.id %}" class="btn btn-primary">
                View Order Details
            </a>
        </div>
    </div>
</div>
{% endblock %}